body{
    margin: 0;
    padding: 0;
    width: 100%;
}

ul{
    height: 8vh;
    background-color: gray;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

li{
    text-decoration: none;
}
a:hover{
    color: red;
    transition: 1s;
}
#icon{
    color: blue;
}

.child{
    width: 200px;
    line-height: 200px;
    background-color: green;
    border-radius: 50%;
    text-align: center;
}